

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(navy, lightblue);
    color: white;
    height: 60px;
}

main {
    display: flex;
    overflow-x: auto;
}

.searchbar {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
    margin-right: 30px;
}

.searchbar h1  {
    font-family: 'Courier New', Courier, monospace;
}

.weatherinfo {
    margin-top: 50px;
    margin-left: 5%;
    width: 50%;
}

.today {
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    width: 300px;
}
.current {
    padding: 20px;
    background-color: beige;
    border-radius: 10px;
    width: 250px;
}

.fiveday {
    margin-top: 50px;
}

.card {
    background-color: lightgray;
    height: 200px;
    border-radius: 15px;
}

.card {
    display: flex;
    flex-direction: row;
    width:fit-content;
    height: fit-content;
}

.blank-result-card {
    margin: 15px;
    width: 150px;
    height: fit-content;
    font-size: smaller;
    background-color: beige;
    border-radius: 8px;
}

.name {
    font-size: large ;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.tempt {
    margin-left: 5px;
}

.wind {
    margin-left: 5px;
}

.humidity {
    margin-left: 5px;
}

.last {
    font-size: x-large;
    display: flex;
    width: 80%;
    justify-content: center;
    background-color: lightgrey;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.last:hover {
    cursor: pointer;
}

.tname {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.clear {
    margin-left: 20%;
    height: fit-content;
    width: fit-content;
    font-size: x-small;
    background-color: burlywood;
    border-radius: 15px;
}